
header{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  header>div{
    width: 30%;
  }
  header>div img{
    width: 100%;
    height: auto;
    display: block;


  }
  header>div h3{
    margin-top: 20%;
    margin-right: auto;
    font-family: "arial";
   font-style: normal;
  }

  .banner{
  width:96%;
  margin: 2% auto;
  box-sizing: border-box;
}
.banner img{
  width: 100%;
  height: auto;
}
.container{

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 94%;
  box-sizing: border-box;
  margin: 0% auto;
}
.containerPro{

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 94%;
  box-sizing: border-box;
  margin: 0% auto;
}
.child2{
  width: 23.5%;

}
.child2 img{
  width: 100%;
  height: auto;
}
.child1{
  width: 47%;

}
.child1 img{
  width: 100%;
  height: auto;

}
.childs{
  width: 31.33%;
}
.childs img{
  width: 100%;
  height: auto;
}
.banner2{
  width:96%;
  margin: 0% auto;
  box-sizing: border-box;
}
.banner2 img{
  width: 100%;
  height: auto;
}


}
@media only screen and (min-width:320px) and (max-width:767px) {
  .containerPro{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    box-sizing: border-box;
    margin: 0% auto;
  }
  .child2{
    width: 100%;
  }
  .child2 img{
    width: 100%;
    height: auto;
  }

    header{
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      }
      header>div{
        width: 60%;
        display: block;
        height: auto;
        margin: 0 auto;
      }
      header>div img{
        width: 60%;
        height: auto;
        display: block;
        margin:0 auto;
      }
      header>div h1{
        margin:0 auto;
        font-family: "arial";
      font-style: normal;
      }



}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .containerPro{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 94%;
    box-sizing: border-box;
    margin: 0% auto;
  }
  .child2{
    width: 47%;
  }
  .child2 img{
    width: 100%;
    height: auto;
  }


}
